<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<title layout:title-pattern="$DECORATOR_TITLE | $CONTENT_TITLE"
	th:text="${applicationName}">Spring Boot Starter | Page Title</title>

<!-- Tell the browser to be responsive to screen width -->
<meta
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
	name="viewport" />
<meta name="description" content="" />
<!-- TODO: Add description -->
<meta name="author" content="" />
<!-- TODO: Add author -->

<!-- Favicon -->
<link rel="shortcut icon" th:href="@{|${theme}/favicon.ico|}" />
<!-- TODO: Add favicon -->

<!-- Stylesheets -->

<link rel="stylesheet"
	th:href="@{|${theme}/themes/bootstrap/easyui.css|}" />
<link rel="stylesheet"
	th:href="@{|${theme}/themes/icon.css|}" />

<script th:inline="javascript">
	var theme = /*[[${theme}]]*/'';
</script>
<th:block layout:fragment="styles" />
</head>

<body class="hold-transition skin-blue sidebar-mini">
	<div class="wrapper">
		<!-- Navbar -->
		<th:block th:include="fragments/navbar :: navbar" />

		<th:block th:include="fragments/sidebar :: sidebar" />
		<div class="content-wrapper">
			<!-- Content -->
			<th:block layout:fragment="content" />
		</div>

		<!-- Footer -->
		<th:block th:include="fragments/footer :: footer" />

		<!-- 	<div class="bottom-right-container"> -->
		<!-- 		<th:block th:include="fragments/debuginfo :: debuginfo" /> -->
		<!-- 	</div> -->
	</div>
	<!-- JavaScripts -->
	<th:block th:switch="${applicationEnvironment}">
		<th:block th:case="'production'">
			<!-- Application -->
		</th:block>
		<th:block th:case="*">
		</th:block>
	</th:block>

	<script th:src="@{|${theme}/jquery.min.js|}"></script>
	<script th:src="@{|${theme}/jquery.easyui.min.js|}"></script>

	<script type="text/javascript" th:inline="javascript">
		
	</script>
	<!-- Page JavaScripts -->
	<th:block layout:fragment="scripts" />

</body>

</html>