<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<meta charset="utf-8" />
	<title th:text="${applicationName}">Spring Boot Start |</title>
	<meta name="description" content="" />
	<meta name="viewport" content="width=device-width" />
	<!-- Favicon -->
	<link rel="shortcut icon" th:href="@{|${theme}/favicon.ico|}" />
	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link id="easyui_theme_id" rel="stylesheet" type="text/css" th:href="@{|${theme}/themes/metro/easyui.css|}" />
	<link rel="stylesheet" type="text/css" th:href="@{|${theme}/themes/icon.css|}" />
	<link rel="stylesheet" th:href="@{|${theme}/css/reset.css|}" href="css/reset.css" />
	<link rel="stylesheet" th:href="@{|${theme}/css/main.css|}" href="css/main.css" />

	<script th:inline="javascript">
		var theme = /*[[${theme}]]*/ '';
	</script>
</head>

<body class="easyui-layout">
	<!--顶部区域-->
	<div class="top-layout " data-options="region:'north',border:false">
		<div class="top-left">
			<a href="/"> <img class="logo" th:src="@{|${theme}/images/logo.png|}" src="images/logo.png" alt="logo" />
				<span class="logo-text" th:text="${applicationName}">Spring spanoot starter</span>
			</a>
		</div>

		<div class="top-right">
			<div class="top-menu">
				<a id="person_detail_id" class="easyui-menubutton" plain="true" menu="#person_menu_id"> <span sec:authentication="name"></span></a>
				<!--<a id="msg_id" href="javascript:void(0);" class="easyui-linkbutton" plain="true" onclick="javascript:addTabContent('消息','/msg/index.html' );return false;">-->
				<!--消息</a>-->
				<!-- 				<a id="theme_id" href="javascript:void(0);" class="easyui-linkbutton" plain="true"> 换肤</a> -->
				<a href="javascript:void(0);" class="easyui-linkbutton" target="_blank" plain="true" onclick="javascript:addTabHref('帮助', '/help/index.html');return false;">帮助</a>
			</div>
		</div>


		<div id="person_menu_id" style="width: 90px;">
			<div onclick="javascript:addTabHref('个人设置','/user/profile' );return false;">
				个人设置</div>
			<div><a href="/logout">退出</a></div>
		</div>

	</div>

	<!--左侧导航-->
	<div class="left-layout" data-options="region:'west',split:false,title:'菜单'">
		<div id="left_menu_content_id" class="easyui-accordion" border="true" fit="false">

		</div>

	</div>

	<!--主内容区-->
	<div data-options="region:'center'" border="true">
		<div id="tabs" class="easyui-tabs" fit="true" border="false"></div>

	</div>

	<!--底部信息-->
	<div class="buttom-layout" data-options="region:'south',border:false">
		<div class="buttom-left">
			版权所有：<a href="javascript:void(0);" class="easyui-linkbutton" target="_blank" plain="true" onclick="javascript:window.open( 'http://www.waylau.com');return false;">
				www.waylau.com</a> version <a href="javascript:void(0);" class="easyui-linkbutton" target="_blank" plain="true" onclick="javascript:window.open( 'https://github.com/waylau/easyui-scaffold');return false;">
				0.9.2 </a>
		</div>

		<div class="buttom-right">
			<div id="dateime_id"></div>
		</div>

	</div>

	<div id="tab_memu_id" class="easyui-menu" style="width: 150px;">
		<div id="mm-tabupdate">刷新</div>
		<div class="menu-sep"></div>
		<div id="mm-tabclose">关闭窗口</div>
		<div id="mm-tabcloseall">全部关闭</div>
		<div id="mm-tabcloseother">关闭其他窗口</div>
		<div class="menu-sep"></div>
		<div id="mm-tabcloseleft">关闭左侧窗口</div>
		<div id="mm-tabcloseright">关闭右侧窗口</div>
	</div>
	<script th:src="@{|${theme}/js/jquery.min.js|}" src="bower_components/jquery/dist/jquery.js"></script>
	<script th:src="@{|${theme}/js/jquery.easyui.min.js|}"></script>
	<script th:src="@{|${theme}/locale/easyui-lang-zh_CN.js|}"></script>
	<script th:src="@{|${theme}/js/jquery.cookie.min.js|}" src="//cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>

	<script th:src="@{|${theme}/js/date-util.js|}"></script>
	<script th:src="@{|${theme}/js/easyui-theme-change.js|}"></script>
	<script th:src="@{|${theme}/js/jquery-loading.js|}"></script>
	<script th:src="@{|${theme}/js/msg.js|}"></script>
	<script th:src="@{|${theme}/js/main.js|}"></script>
</body>

</html>