<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorator="layouts/layout">

<head>
	<title>字典类型</title>
</head>
<th:block layout:fragment="styles">

</th:block>

<body>
	<th:block layout:fragment="content">
		<th:block th:include="fragments/pageheader :: pageheader" th:with="header='字典类型', subtext='管理系字典类型数据'" />
		<section class="content">
			<div class="box">
				<div class="box-header">
					<h3 class="box-title">字典类型</h3>
					<div class="box-tools">
						<a class="btn btn-sm btn-default" th:href="@{/system/dicttype/add}" th:title="创字典类型"><i
							class="fa fa-fw fa-plus"></i> </a>
						<a class="btn btn-sm btn-danger delAll" href="javascript:;" th:title="字典类型"><i
							class="fa fa-fw fa-trash"></i> </a>
					</div>
				</div>
				<div class="box-body">
					<div id="tableWrapper" style="display: none;">
						<table id="table" class="table table-striped table-bordered table-hover">
							<thead>
								<tr>
									<th style="width:40px;"><a href="javascript:;" class="selectAll" title="全选">全选</a></th>
									<th>名称</th>
									<th>描述</th>
									<th>值长度</th>
									<th>值列表</th>
									<th class="text-center">更新时间</th>
									<th class="text-center" style="width:120px;">操作</th>
									<th style="width:0px;">可编辑</th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</section>
		<form id="delForm" method="post" style="display: none" th:action="@{/system/dicttype/del}">
			<input id="ids" type="hidden" name="ids" />
			<input id="_csrf" type="hidden" name="_csrf" />
		</form>
	</th:block>
	<th:block layout:fragment="scripts">
		<script th:replace="fragments/datatablesjs :: datatables" />
		<script type="text/javascript" th:inline="javascript">
			$(document)
				.ready(
					function () {
						var opts = {
							"language": {
								"url": /*[[@{|${theme}/plugins/datatables/Chinese.json|}]]*/ ''
							},
							autoWidth: false,
							lengthChange: false,
							searching: false,
							processing: false,
							serverSide: true,
							stateSave: true
						};
						var table = $('table#table').DataTable(
							$.extend(opts, {
								ajax: '/system/dicttype/datatable',
								order: [
									[2, 'asc']
								],
								columns: [{
									data: 'id',
									sortable: false,
									defaultContent: '',
									'class': 'text-center',
									render: function (data, type, row, meta) {
										return row.editable? '<input type="checkbox" name="ids" value="' + data + '"/>' : '';
									}
								}, {
									data: 'name'
								}, {
									data: 'description'
								}, {
									data: 'length','class': 'text-right',
								}, {
									data: 'id',	'class': 'text-center', sortable: false, render: function (data, type, row, meta) {
										return '<a href="/system/dict/'+row.id+'"><i class="fa fa-list"></i></a>';
									}
								}, {
									data: 'lastModifiedDate',
									'class': 'text-center',
									defaultContent: ''
								}, {
									data: "",
									defaultContent: '',
									sortable: false,
									'class': 'text-center',
									render: function (data, type, row, meta) {
										return row.editable?'<div class="btn-group">' +
											'<a class="btn btn-default btn-sm" title="修改" href="/system/dicttype/edit/' + row.id +
											'"><i class="fa fa-edit"></i></a>' +
											'<a class="btn btn-default btn-sm del" title="删除" href="#"><i class="fa fa-trash-o"></i></a>' +
											'</div>':'系统字典类型';
									}
								},{
									data:"editable", visible: false
								}]
							}));
						table.on('click', '.del', function () {
							var id = table.row($(this).parents('tr')).data().id;
							$("#delForm #ids").val(id);
							if (id) {
								bootbox.confirm("确定要删除数据吗?", function (result) {
									if (result) {
										$("#delForm").submit();
									}
								});
							}
						});

						$(".btn.delAll").on("click", function (e) {
							var ids = [];
							$('#table>tbody input:checked').each(function (i, item) {
								ids.push($(item).val());
							});
							$("#delForm #ids").val(ids.join(","));
							if (ids.length > 0) {
								bootbox.confirm("确定要删除选中的数据吗?", function (result) {
									if (result) {
										$("#delForm").submit();
									}
								});
							} else {
								bootbox.alert("请选择要删除的数据.");
							}
						});
					});
		</script>
	</th:block>
</body>

</html>