<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorator="layouts/layout">

<head>
	<title>系统参数</title>
</head>
<th:block layout:fragment="styles">

</th:block>

<body>
	<th:block layout:fragment="content">
		<th:block th:include="fragments/pageheader :: pageheader" th:with="header='系统参数', subtext='管理系统中参数数据'" />
		<section class="content">
			<div class="box">
				<div class="box-header">
					<h3 class="box-title">系统参数</h3>
					<div class="box-tools">
						<a class="btn btn-sm btn-default" th:href="@{/system/setting/add}" th:title="创建新参数"><i
							class="fa fa-fw fa-plus"></i> </a>
						<a class="btn btn-sm btn-danger delAll" href="javascript:;" th:title="删除参数"><i
							class="fa fa-fw fa-trash"></i> </a>
					</div>
				</div>
				<div class="box-body">
					<div id="tableWrapper" style="display: none;">
						<table id="table" class="table table-striped table-bordered table-hover">
							<thead>
								<tr>
									<th style="width:100px;">组</th>
									<th>名称</th>
									<th>值</th>
									<th>描述</th>
									<th style="width:100px;" class="text-center">更新时间</th>
									<th style="width:120px;">操作</th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</section>
		<form id="delForm" method="post" style="display: none" th:action="@{/system/setting/del}">
			<input id="ids" type="hidden" name="ids" />
			<input id="_csrf" type="hidden" name="_csrf" />
		</form>
	</th:block>
	<th:block layout:fragment="scripts">
		<script th:replace="fragments/datatablesjs :: datatables" />
		<script type="text/javascript" th:inline="javascript">
			$(document)
				.ready(
					function () {
						var table = $('table#table').DataTable(
							$.extend(opts, {
								ajax: '/system/setting/datatable',
								order: [
									[2, 'asc']
								],
								columns: [{
									data: 'type'
								}, {
									data: 'name'
								}, {
									data: 'value'
								}, {
									data: 'description', sortable: false
								}, {
									data: 'lastModifiedDate',
									'class': 'text-center',
									defaultContent: ''
								}, {
									data: "",
									defaultContent: '',
									sortable: false,
									'class': 'text-center',
									render: function (data, type, row, meta) {
										return '<div class="btn-group">' +
											'<a class="btn btn-default btn-sm" title="修改" href="/system/setting/edit/' + row.id +
											'"><i class="fa fa-edit"></i></a>' +
											'<a class="btn btn-default btn-sm del" title="删除" href="#"><i class="fa fa-trash-o"></i></a>' +
											'</div>';
									}
								}]
							})).on('draw.dt', function () {
							$("#tableWrapper").fadeIn();
						});
						table.on('click', '.del', function () {
							var id = table.row($(this).parents('tr')).data().id;
							$("#delForm #ids").val(id);
							if (id) {
								bootbox.confirm("确定要删除数据吗?", function (result) {
									if (result) {
										$("#delForm").submit();
									}
								});
							}
						});
					});
		</script>
	</th:block>
</body>

</html>