<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title th:text="|${applicationName} - Error!|">Error!</title>
<!-- Page Stylesheet -->
<link rel="stylesheet"
	th:href="@{|/resources-${applicationVersion}/stylesheets/pages/error.css|}"
	href="../../../../resources/stylesheets/pages/error.css" />
</head>
<body>
	<div class="container">
		<h1>
			<span class="error-message" th:text="${errorMessage}">Server
				Error</span> <span class="error-status-code" th:text="${errorStatusCode}">500</span>
		</h1>
		<pre class="error-exception-stack-trace"
			th:text="${errorExceptionStackTrace}">
            </pre>
	</div>

</body>
</html>