<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/layout">
<head>
<title>404 Not Found</title>
</head>
<body>

	<th:block layout:fragment="content">
		<th:block th:include="fragments/pageheader :: pageheader"
			th:with="header='404', subtext='not found'" />

		<section class="content">
			<div class="error-page">
				<h2 class="headline text-yellow">404</h2>

				<div class="error-content">
					<h3>
						<i class="fa fa-warning text-yellow"></i> Oops! Page not found.
					</h3>

				</div>
				<!-- /.error-content -->
			</div>
			<!-- /.error-page -->
		</section>
		<!-- /.content -->
	</th:block>

</body>
</html>