<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title th:text="${applicationName}">Spring Boot Start | Log in</title>
	<!-- Tell the browser to be responsive to screen width -->
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" />
	<!-- Favicon -->
	<link rel="shortcut icon" th:href="@{|${theme}/favicon.ico|}" />
	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link id="easyui_theme_id" rel="stylesheet" type="text/css" th:href="@{|${theme}/themes/metro/easyui.css|}" />
	<link rel="stylesheet" type="text/css" th:href="@{|${theme}/themes/icon.css|}" />
	<link rel="stylesheet" th:href="@{|${theme}/css/reset.css|}" href="css/reset.css" />
	<link rel="stylesheet" th:href="@{|${theme}/css/main.css|}" href="css/main.css" />
	<link rel="stylesheet" th:href="@{|${theme}/css/login.css|}" href="css/login.css" />
</head>

<body class="hold-transition login-page">
	<div class="login-box">
		<div class="login-logo">
			<a href="/">
				<h1 th:text="${applicationName}">Spring boot starter</h1>
			</a>
		</div>
		<!-- /.login-logo -->
		<div class="easyui-panel" title="登录系统" style="width:100%;max-width:400px;padding:20px;">
			<!--<h1 class="login-box-msg">使用用户密码登录系统!</h1>-->

			<form th:action="@{/login}" action="/login" method="post">
				<h4 style="color: red" th:text="${message}" id="message" th:if="${message}"></h4>
				<div class="" style="margin-bottom: 15px">
					<input type="text" name="username" class="easyui-textbox" prompt="用户名或电子邮件" data-options="label:'用户名:',required:true, iconCls:'icon-man'" style="width:100%;height: 30px;"
					  placeholder="用户名或电子邮件" />
				</div>
				<div class="" style="margin-bottom: 15px">
					<input type="password" name="password" class="easyui-passwordbox" prompt="登录密码" data-options="label:'登录密码:',required:true, iconCls:'icon-lock'"
					  style="width:100%;height: 30px;" placeholder="登录密码" />
				</div>
				<div class="" style="margin-bottom: 15px">
					<label class="textbox-label"></label>
					<input name="remember-me" type="checkbox" class="easyui-switchbutton" data-options="label:'下次自动登录:'"/> 
				</div>
				<div class="" style="margin-bottom: 15px">
					<label class="textbox-label"></label>
					<button type="submit" class="easyui-linkbutton" iconCls="icon-ok" style="width: 100px; height: 30px;">
							 登录
						</button>
				</div>
			</form>
		</div>
		<!-- /.login-box-body -->
	</div>
	<!-- /.login-box -->
	<script th:src="@{|${theme}/js/jquery.min.js|}" src="bower_components/jquery/dist/jquery.js"></script>
	<script th:src="@{|${theme}/js/jquery.easyui.min.js|}"></script>
	<script th:src="@{|${theme}/locale/easyui-lang-zh_CN.js|}"></script>
	<script th:src="@{|${theme}/js/jquery.cookie.min.js|}" src="//cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>

</body>

</html>